[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agent_book = {path = '../agent_book/', editable = true}
agent_notes = {path = '../agent_notes/', editable = true}
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.12"
